[package]
categories = ["cryptography", "development-tools"]
description = "An experimental implementation of gitoids in Rust"
edition = "2021"
homepage = "https://omnibor.io/"
keywords = ["gitbom", "omnibor", "sbom", "gitoid"]
license = "Apache-2.0"
name = "gitoid"
readme = "../README.md"
repository = "https://github.com/omnibor/omnibor-rs"
version = "0.2.0"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
hex = { version = "0.4.3", default-features = false, features = ["std"] }
sha1 = { version = "0.10.6", default-features = false, features = ["std"] }
sha2 = { version = "0.10.8", default-features = false }
url = "2.4.1"
